[submodule "external/DirmdsLab/Art"]
	path = external/DirmdsLab/Art
	url = https://github.com/DirmdsLab/Art.git
[submodule "external/DirmdsLab/mpv-setup"]
	path = external/DirmdsLab/mpv-setup
	url = https://github.com/DirmdsLab/mpv-setup.git
